body {
  margin: 50px 100px 75px 100px;
}

.list-item-bold {
  font-weight: bold;}
.img-center {
  margin: 0 auto;}
middle-text {
  margin-left: 200px;
}
.norman  {
  font-size: 66px;
}

#borlaug {
  line-height: 28px;
}

footer {
 padding-top: 64px;
}